@import "../../variables/dimens";
@import "../../variables/colors";

.key_art-content__container {
  display: flex;

  flex-direction: column;
  flex: 1;
}

.key_art-content__container.is-hidden {
  .key_art-content__content {
    opacity: 0;
  }
  .key_art-content__keyart {
    transform: translateY(-100%);
  }
}

.key_art-content__keyart {
  display: flex;
  width: 100%;
  height: $top-img-xsmall-height;
  // This is a flat out lie to make Chrome not paint on scroll
  will-change: transform;
  transform: translateY(0%);
  transition: transform  .5s ease-in-out, background-color .5s ease-in-out;

  background-color: $secondary-bg-color;
}

.key_art-content__keyart-image {
  flex: 1;
  // opacity: 0;
  transition: opacity  .5s ease-in-out;
}

.key_art-content__content {
  transition: opacity .5s ease-in-out;

  .page > * {
    width: 100%;
    max-width: $base-line-height * 20;

    padding-left: $base-line-height;
    padding-right: $base-line-height;
    margin-left: auto;
    margin-right: auto;

    box-sizing: border-box;
  }

  .page > .geshi_highlight__container {
    width: inherit;
    max-width: inherit;
  }
}

@media (min-width: $break-small) {
  .key_art-content__keyart {
    width: 100%;
    height: $top-img-small-height;
  }
}

@media (min-width: $break-medium) {
  .key_art-content__container {
    justify-content: center;
  }
  .key_art-content__container.is-hidden {
    .key_art-content__keyart {
      transform: translateX(-100%);
    }
  }

  .key_art-content__keyart {
    position: fixed;
    left: 0;
    top: 0;
    width: $contentLeftSectionProportion * 1%;
    height: 100vh;
    max-height: 100vh;
    transform: translateX(0);
  }

  .key_art-content__content {
    width: $contentRightSectionProportion * 1%;
    min-height: 100%;
    margin-left: auto;
  }
}
