.debug-element {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 10;
  pointer-events: none;
}

.debug-enabled {
  background-image: url(/images/third_party/baseholdit_24_dark.png);
}

.debug-enabled.light {
  background-image: url(/images/third_party/baseholdit_24_light.png);
}
