---
styles:
  inline:
    - ../../../public/styles/unique/blog-post.css
---
{{{data.srcSetImg}}}

<img src="{{{data.blogPost.mainImage}}}" alt="Key Art for 	&#34;{{data.blogPost.title}}&#34; by Matthew Gaunt" class="blog-post__keyart" />

<h1>{{data.blogPost.title}}</h1>

{{{data.blogPost.bodyHTML}}}
