---
styles:
  inline:
    - ../../../public/styles/unique/blog-post.css
---
<img src="{{{data.blogPost.mainImage}}}" class="blog-post__keyart" />

<h1>{{data.blogPost.title}}</h1>

{{{data.blogPost.bodyHTML}}}
