---
styles:
  inline:
    - ../../../public/styles/unique/blog-post.css
---
<p>TODO Fix quotes in the alt text.</p>
<img src="{{{data.blogPost.mainImage}}}" alt="Key Art for %22;{{data.blogPost.title}}%22; by Matthew Gaunt" class="blog-post__keyart" />

<h1>{{data.blogPost.title}}</h1>

{{{data.blogPost.bodyHTML}}}
