body {
  display: flex;

  flex-direction: column;

  background-color: $contact-page-bg-color;
  color: $contact-page-text-color;
}

.contact__message-form-container {
  width: 100%;
  max-width: 480px;

  flex: 1;

  padding: 24px;

  margin: 0 auto;
  box-sizing: border-box;
}

.title-block-item {
  padding-top: ($base-line-height * 4);
}
