@import '../../variables/dimens';
@import "../../variables/colors";
@import '../../mixins/typography';

input[type='text'], textarea {
  display: block;
  width: 100%;

  box-sizing: border-box;

  background-color: transparent;
  //background-color: $input-bg-color;

  color: rgba(255, 255, 255, 0.8);

  border: 0;
  border-radius: 0;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: rgba(255, 255, 255, 0.2);

  margin: 0;
  margin-bottom: $base-line-height;
  padding: ($base-line-height / 2);

  @include typography-font-size($base-font-size);
  color: inherit;

  &.is-dark {
    border-bottom-color: rgba(0, 0, 0, 0.2);
  }
}

input[type='text']:focus, textarea:focus {
  outline: 0;

  //background-color: $input-focus-bg-color;
  border-bottom-color: rgba(255, 255, 255, 0.8);

  &.is-dark {
    border-bottom-color: rgba(0, 0, 0, 0.8);
  }
}

input[placeholder], textarea[placeholder] {
  //color: $input-place-holder-color;
}

label {
  @include typography-font-size($base-font-size);
  color: inherit;
}
