sudo: required

language: node_js
node_js:
  - "8"
cache:
  directories:
    - "node_modules"
    - "~/.selenium-assistant"

before_install:
  # Install latest docker
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce

  # Install latest docker-compose
  - sudo rm /usr/local/bin/docker-compose
  - sudo curl -L https://github.com/docker/compose/releases/download/1.17.0/docker-compose-`uname -s`-`uname -m` -o /usr/local/bin/docker-compose
  - sudo chmod +x /usr/local/bin/docker-compose

install:
  - npm install

before_script:
  # Stop local mysql so docker mysql works. TODO: Try moving to docker socket name
  - sudo /etc/init.d/mysql stop
  # Read more here: https://docs.travis-ci.com/user/gui-and-headless-browsers/#Using-xvfb-to-Run-Tests-That-Require-a-GUI
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start || echo \"Unable to start virtual display.\""
  - sleep 3 # give xvfb some time to start

script:
  - npm run test
