version: '3.4'
services:
  base:
    image: gauntface-base
    build:
      context: .
      dockerfile: ./infra/docker/base
  dev:
    build:
      context: .
      dockerfile: ./infra/docker/dev
    depends_on:
      - "mysql_dev"
    links:
      - mysql_dev
    ports:
     - "3006:3006"
     - "3000:3000"
    volumes:
      - type: volume
        source: ./src
        target: /gauntface/site
      - type: volume
        source: ./node_modules
        target: /gauntface/site/node_modules
      - type: volume
        source: ../gf-backup/
        target: /gauntface/backup/
    environment:
      # DEV_MODE means that it'll block on the node script and not NGINX.
      DEV_MODE: 'true'
      NODE_PORT: 3006
      NGINX_PORT: 3000
      DB_HOST: mysql_dev
      DB_PORT: 3306
      DB_USER: development-user
      DB_PASSWORD: development-password
      DB_NAME: development-db

  test:
    depends_on:
      - "mysql_test"
    build:
      context: .
      dockerfile: ./infra/docker/prod
    links:
      - mysql_test
    ports:
     - "3007:3007"
     - "3000:3000"
    volumes:
      - type: volume
        source: ../gf-backup/
        target: /gauntface/backup/
    environment:
      NODE_PORT: 3007
      NGINX_PORT: 3000
      DB_HOST: mysql_test
      DB_PORT: 3306
      DB_USER: testing-user
      DB_PASSWORD: testing-password
      DB_NAME: testing-db

  mysql_dev:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: development-db
      MYSQL_USER: development-user
      MYSQL_PASSWORD: development-password
    volumes:
      - type: volume
        source: ../gf-backup/sql-exports
        target: /docker-entrypoint-initdb.d

  mysql_test:
    image: mysql:5.7
    restart: always
    ports:
     # Expose the MYSQL port locally for tests to manipulate the DB
     - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: testing-db
      MYSQL_USER: testing-user
      MYSQL_PASSWORD: testing-password
    volumes:
      - type: volume
        source: ../gf-backup/sql-exports
        target: /docker-entrypoint-initdb.d
