@import  "../../variables/dimens";
@import  "../../variables/colors";

.spinner {
  display: inline-block;
  position: relative;

  width: $spinnerSize;
  height: $spinnerSize;
}

.spinner-bounce1, .spinner-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $loading-color;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  animation: sk-bounce 2.0s infinite ease-in-out;
}

.spinner-bounce2 {
  animation-delay: -1.0s;
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
  }
}
