@import "/styles/variables/dimens.css";
@import "/styles/variables/colors.css";
@import "/styles/variables/fonts.css";

.tabs__tab-btn-container {
  display: flex;

  width: 100%;

  flex-shrink: 0;

  border-bottom-style: solid;
  border-bottom-width: 1px;

  margin-bottom: -1px;
}

.tabs__tab-btn {
  color: var(--button-background-color);
  background-color: var(--code-background-color);
}

.tabs__tab-btn.is-selected {
  color: var(--page-bg-color);
  background-color: var(--button-background-color);
}

.tabs__content-container {
  display: flex;

  flex: 1;

  overflow-y: auto;
}

.tabs__tab-content {
  display: none;

  width: 100%;
}

.tabs__tab-content.is-selected {
  display: block;
}
