button, .button {
  display: inline-block;
  background-color: var(--button-background-color);
  text-decoration: none;
  color: var(--button-text-color);
  padding: var(--grid);
  border: none;
  font-size: var(--button-font-size);
  line-height: var(--button-font-size);
}

button:hover, .button:hover {
  background-color: var(--button-background-hover-color);
  cursor: pointer;
}

button:active, .button:active {
  background-color: var(--button-background-active-color);
}
