fastcgi_param     BUILDTYPE ${BUILDTYPE};
fastcgi_param     TWITTER_CONSUMER_KEY ${TWITTER_CONSUMER_KEY};
fastcgi_param     TWITTER_CONSUMER_SECRET ${TWITTER_CONSUMER_SECRET};
fastcgi_param     TWITTER_ACCESS_TOKEN ${TWITTER_ACCESS_TOKEN};
fastcgi_param     TWITTER_ACCESS_SECRET ${TWITTER_ACCESS_SECRET};
