@import '../../variables/dimens';

/**
TODO:
Tabs
Full Page Overlay
**/

.body__blogcreate {
  display: flex;

  flex-direction: column;
}

.blogcreate {
  display: flex;

  width: 100%;
  height: 0;

  flex: 1;

  flex-direction: row;
}

.blogcreate__create-section {
  display: flex;

  width: 0;

  flex: 3;
  flex-direction: column;
}

.blogcreate__preview {
  width: 0;
  height: auto;

  flex: 2;

  margin: 0;
}

.blogcreate__markdown-textarea {
  width: 100%;
  max-width: 100%;

  flex: 1;

  margin: 0;
}

.blogcreate__tabs-contents--meta-data,
.blogcreate__tabs-contents--publish {
  padding: $base-line-height;
}

.blogcreate__grey-scale-img {
  max-height: 5 * $base-line-height;
}

.blogcreate__main-img {
  max-height: 10 * $base-line-height;
}

.blogcreate__tabs-contents--markdown.tab-view__is-selected {
  display: flex;

  flex-direction: column;
}

.blogcreate__color-options {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;

  margin-bottom: $base-line-height;
}

.blogcreate__color-option-item {
  width: 40px;
  height: 40px;

  margin-right: $base-line-height;
}
