@import "../variables/dimens.css";

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.toolbar__btn {
  width: var(--btn-size);
  height: var(--btn-size);

  border: none;
  background: none;
  padding: var(--btn-padding);
  margin: 0;
}

.toolbar__btn img {
  width: 100%;
  height: 100%;
}
