@import "/styles/variables/dimens.css";
@import "/styles/variables/colors.css";

.divider__horizontal {
  display: block;

  width: calc(var(--grid) * 6);
  height: var(--divider-thickness);

  margin: calc(-1 * var(--divider-thickness)) auto calc(var(--grid) * 2) auto;

  background-color: var(--divider-color);
}

.divider__horizontal:last-child {
  margin-bottom: 0;
}

.divider__horizontal.is-light-version {
  background-color: var(--divider-color-light);
}

@media (min-width: 700px) {
  .divider__horizontal {
     margin-bottom: calc(var(--grid) * 4);
  }
}
