@import '../../variables/dimens';
@import '../../variables/colors';

body {
  background-color: $contact-page-bg-color;
  color: $contact-page-text-color;
}

.page {
  flex: 1;
}

.spinner.page-loading-spinner {
  .spinner-bounce1, .spinner-bounce2 {
    background-color: $inverse-loading-color;
  }
}

.title-block-item {
  padding-top: ($base-line-height * 4);
}
