@charset 'UTF-8';

@import '../../partials/third_party/_normalize.scss';
@import '../../partials/_typography.scss';
@import '../../partials/_base.scss';
@import '../../partials/_debug.scss';
@import '../../partials/_colors.scss';
@import '../../partials/components/_subappbar.scss';
@import '../../partials/components/_full-page-overlay.scss';
@import '../../partials/pages/blog-create/_tabs.scss';

.body__blogcreate {
  display: flex;

  flex-direction: column;
}

.blogcreate {
  display: flex;

  width: 100%;
  height: 0;

  flex: 1;

  flex-direction: row;
}

.blogcreate__create-section {
  display: flex;

  width: 0;

  flex: 3;
  flex-direction: column;
}

.blogcreate__preview {
  width: 0;
  height: auto;

  flex: 2;

  margin: 0;
}

.blogcreate__markdown-textarea {
  width: 100%;
  max-width: 100%;

  flex: 1;

  margin: 0;
}
