@charset 'UTF-8';

@import '../../partials/third_party/_normalize.scss';
@import '../../partials/_typography.scss';
@import '../../partials/_base.scss';

body {
  display: flex;

  flex-direction: column;
}

.styleguide-viewoptions {
  display: flex;

  width: 100%;

  flex-direction: row;
}

.styleguide-viewoptions__btn {
  background: none;
  border: 0;
}

.styleguide-viewoptions__spacer {
  width: $base-line-height;
}

.styleguide-viewoptions__spacer.should-flex {
  flex: 1;
}

.styleguide-viewoptions__divider {
  width: 1px;
  height: $base-line-height;

  background-color: black;
  align-self: center;
}

.styleguide-window-container {
  display: flex;

  width: 100%;

  flex: 1;
  flex-direction: column;

  position: relative;

  align-content: center;
  justify-content: center;
}

.styleguide-window-container.is-fixed-size {
  min-height: min-content;
}

.styleguide-window-wrapper {
  display: flex;

  width: 100%;

  flex: 1;
  flex-direction: column;

  position: relative;

  align-content: center;
  justify-content: center;

  box-sizing: border-box;
  margin: 0 auto;

  border-color: black;
  border-width: 1px;
  border-style: solid;

  overflow: hidden;
}

.styleguide-contents-iframe {
  flex: 1;

  width: 100%;

  margin: 0 auto;

  box-sizing: border-box;
  border: none;
}

.styleguide-contents-iframe.is-circle-watch,
.styleguide-window-wrapper.is-circle-watch,
.styleguide-window-wrapper.is-square-watch {
  width: 160px;
  height: 160px;

  flex: none;
}

.styleguide-window-wrapper.is-circle-watch {
  border-radius: 100%;
}

.styleguide-window-wrapper.is-square-watch {
  border-radius: $padding;
}

.styleguide-contents-iframe.is-phone, .styleguide-window-wrapper.is-phone {
  width: 320px;
  height: 568px;

  flex: none;
}

.styleguide-window-wrapper.is-phone {
  border-radius: $padding * 2;
}

.styleguide-contents-iframe.is-desktop, .styleguide-window-wrapper.is-desktop {
  width: 1280px;
  height: 800px;

  flex: none;
}

.styleguide-contents-iframe::-webkit-scrollbar {
    display: none;
}
