---
styles:
  inline:
    - ../../public/styles/shells/split-container-inline.css
partials:
- ../views/header.tmpl
- ../views/footer.tmpl
---

<div class="split-container">

  <div class="split-container__left">
    {{> ../views/header.tmpl }}
  </div>

  <div class="split-container__right">
    <div class="u-content">
      {{{content}}}
      {{> ../views/footer.tmpl }}
    </div>
  </div>

</div>
