---
styles:
  inline:
    - ../../public/styles/html-elements/iframe-inline.css
    - ../../public/styles/html-elements/button-inline.css
    - ../..//public/styles/unique/styleguide-inline.css
scripts:
  async:
    - /scripts/controllers/styleguide-controller.js
---
<section class="styleguide-controls">
  <button class="js-styleguide-grid-btn">Grid Visibility</button>
  <button class="js-styleguide-css-toggle">Disable Async CSS</button>
</section>

<iframe title="Styleguide Components and Example Content" class="styleguide-iframe js-styleguide-iframe" data-src="/styleguide/list/">
  JavaScript is required to use this iframe.
</iframe>
