@import "../../variables/dimens";

.split-section--half-container {
  display: flex;

  flex-direction: column;
}

.split-section--half-container > * {
  width: 100%;
}

@media (min-width: $break-small) {
  .split-section--half-container {
    flex-direction: row;
  }

  .split-section--half-container > * {
    width: 0;
    flex: 1;
  }
}
