@charset "UTF-8";

@import "../variables/colors";

$blockquote-z-index: -1;

/*****************************************
*
* Animations
*
*****************************************/

$transition-time-period: 300ms !default;

* {
    -webkit-tap-highlight-color: transparent;
}

html {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
  display: inline-block;

  width: 100%;
  min-height: 100%;

  background-color: $page-bg-color;
  box-sizing: border-box;
}

pre, code {
  display: block;

  background-color: $code-bg-color;

  overflow-x: auto;
}

pre code {
  border-style: none;

  background-color: transparent;

  overflow-x: auto;
}

p code {
  display: inline;
}

blockquote {
  display: block;
  position: relative;
}

blockquote::before, blockquote::after {
  position: absolute;

  opacity: 0.5;

  z-index: $blockquote-z-index;
}

blockquote::before {
  content: '“';

  top: 0;
  left: 0;
}

blockquote::after {
  content: '”';

  bottom: 0;
  right: 0;
}

ul, ol {
  list-style-position: outside;
    list-style-image: none;
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}

input[type='text'], textarea {
  display: block;
  width: 100%;

  box-sizing: border-box;

  background-color: transparent;
  //background-color: $input-bg-color;

  color: rgba(255, 255, 255, 0.8);

  border: 0;
  border-radius: 0;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: rgba(255, 255, 255, 0.2);
}

input[type='text']:focus, textarea:focus {
  outline: 0;

  //background-color: $input-focus-bg-color;
  border-bottom-color: rgba(255, 255, 255, 0.8);
}

input[placeholder], textarea[placeholder] {
  //color: $input-place-holder-color;
}

button.transparent {
  background-color: transparent;
}

button, .btn, input[type="button"], input[type="reset"], input[type="submit"] {
  display: inline-flex;

  flex-direction: row;
    align-items: center;

  box-sizing: border-box;

  background: $button-bg;
  border: none;

  transition: opacity $transition-time-period ease-in-out $transition-time-period,
     background $transition-time-period ease-in-out;

    cursor: pointer;

  img, svg {
    display: inline-block;
  }

  &:hover {
    background-color: $btn-bg-hover;
  }

  &:focus {
    outline: 0;
    background-color: $btn-bg-focus;
  }

  &:active, &.touched {
    background-color: $btn-bg-active;
  }

  &:disabled {
    opacity: 0.25;
  }

  &:disabled:active, &:disabled:focus, &:disabled:hover {
    background-color: transparent;
  }
}

.svg-btn {
  fill: $svg-btn-fill-color;
}

.btn.image-text {
  img, svg {
    margin-right: ($base-line-height / 4);
  }
}

a {
  color: $link-text-color;
}

iframe {
  display: block;
  box-sizing: border-box;
  background-color: $iframe-bg-color;
  border-style: solid;
  border-width: 1px;
  border-color: $iframe-border-color;
}

.embed {
  height: 0;

  position: relative;

    padding-bottom: 56.25%;

    /** Padding top is for YouTube Chrome **/
    padding-top: 35px;

    overflow: hidden;
}

.embed > iframe {
    width: 100%;
    height: 100%;

    position: absolute;

    top:0;
    left: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.center {
  text-align: center;
}

.no-decoration {
  text-decoration: none;
}
