$dark-grey-color: #2B262E !default;
$light-grey-color: #BFBEC0 !default;

$app-bar-color: #ffffff !default;

$twitter-block-bg-color: #1A1420 !default;
$twitter-block-font-color: #BAB8BC !default;

$youtube-play-icon-color: rgba(white, 0.7) !default;
$youtube-block-bg-color: #433E47 !default;
$youtube-block-font-color: rgba(white, 0.7) !default;
