@import "../variables/dimens";
@import "../variables/colors";

.divider__horizontal {
  display: block;

  width: 2 * $base-line-height;
  height: $divider-thickness;

  margin: (-$divider-thickness) auto ($base-line-height * 0.5) auto;

  background-color: rgba($divider-color, 0.3);
}

.divider__horizontal:last-child {
  margin-bottom: 0;
}

.divider__horizontal.is-light-version {
  background-color: rgba($divider-color-light, 0.3);
}

@media (min-width: $break-xsmall) {
  .divider__horizontal {
    margin-bottom: $base-line-height * 1;
  }
}

@media (min-width: $break-small) {
  .divider__horizontal {
     margin-bottom: $base-line-height * 1.5;
  }
}
