@import "../variables/dimens";

$contentLeftSectionProportion: 42;
$contentRightSectionProportion: 100 - 42;

.grid-container--content-style {
  display: flex;

  flex-direction: column;
}

.grid-container--half {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
}

.grid-container__left-section {
  width: 100%;
  height: $top-img-xsmall-height;
}

.grid-container__right-section {

}

.grid-container__right-section-container {
  & > * {
    width: 100%;
    max-width: $base-line-height * 20;

    padding-left: $base-line-height;
    padding-right: $base-line-height;
    margin-left: auto;
    margin-right: auto;

    box-sizing: border-box;
  }
}

@media (min-width: $break-small) {
  .grid-container__left-section {
    width: 100%;
    height: $top-img-small-height;
  }
}

@media (min-width: $break-medium) {
  .grid-container--content-style {
    max-height: 100vh;
    flex-direction: row;
  }

  .grid-container__left-section {
    width: 0;
    height: auto;
    flex: $contentLeftSectionProportion;
  }

  .grid-container__right-section {
    display: flex;

    width: 0;
    justify-content: center;
    flex: $contentRightSectionProportion;
    flex-direction: column;
    //align-items: flex-start;
  }

  .grid-container__right-section-container {
    overflow-y: auto;
  }
}
