@import '../variables/dimens';

ul, ol {
  margin: 0;
  margin-bottom: $base-line-height;
  padding-left: 1 * $base-line-height;

  list-style-position: outside;
  list-style-image: none;
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}

li > ul, li > ol {
  margin: ($base-line-height / 2) 0;
}
