@import "../../variables/colors";
@import "../../variables/dimens";
@import "../../variables/animations";

button.transparent {
  background-color: transparent;
}

button, .btn, input[type="button"], input[type="reset"], input[type="submit"] {
  display: inline-flex;

  flex-direction: row;
  align-items: center;

  padding: $btn-padding;

  font-size: 1rem;
  font-weight: 300;

  line-height: $btn-internal-size;
  vertical-align: top;

  box-sizing: border-box;

  text-decoration: none;

  background: $button-bg;
  border: none;

  transition: opacity $transition-time-period ease-in-out $transition-time-period,
     background $transition-time-period ease-in-out;

  cursor: pointer;

  img, svg {
    display: inline-block;

    width: $btn-internal-size;
    height: $btn-internal-size;
  }

  &:hover {
    text-decoration: none;
    background-color: $btn-bg-hover;
  }

  &:focus {
    outline: 0;
    background-color: $btn-bg-focus;
  }

  &:active, &.touched {
    background-color: $btn-bg-active;
  }

  &:disabled {
    opacity: 0.25;
  }

  &:disabled:active, &:disabled:focus, &:disabled:hover {
    background-color: transparent;
  }
}

.svg-btn {
  fill: $svg-btn-fill-color;
}

.btn.image-text {
  img, svg {
    margin-right: ($base-line-height / 4);
  }
}
