---
styles:
- /styles/html-elements/code-inline.css
- /styles/html-elements/code-async.css
scripts:
- /third_party/prismjs/prism.js
---
<h1>Code Examples</h1>

<p>Example page of code in with styles.</p>

<h2>Code in Paragph</h2>

<p>Let's try and example with some inline <code>code</code> snippers.</p>

<p>Nam eget dui. Etiam rhoncus. Maecenas tempus, <code>tellus eget condimentum rhoncus</code>, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec <code>vitae</code> sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget <a href="#">bibendum sodales</a>, augue velit cursus <code>nunc</code>,</p>

<h2>Pre + Code [No Language]</h2>

<p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>

<pre><code>const workboxSW = new WorkboxSW();
workboxSW.precache([
  {
    url: '/',
    revision: '613e6c7332dd83e848a8b00c403827ed'
  },
  {
    url: '/styles/main.css',
    revision: '59a325f32baad11bd47a8c515ec44ae5'
  }
]);

// Register runtime routes like so.
workboxSW.router.registerRoute(
  '/example/', workboxSW.staleWhileRevalidate());
workboxSW.router.registerRoute(
  /\/images\/(.*\/)?.*\.(png|jpg|jpeg|gif)/,
  workboxSW.strategies.cacheFirst());
workboxSW.router.registerRoute(
  '/styles/:filename', workboxSW.strategies.cacheFirst());

// For the Lolz
workboxSW.Matt.Is.Totes.The.Best.LOOOOOOOOOOOOOOOOOOOOOOOOOOOOOllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll0000000000000000000000000000ZZZZZZZZZZZZZZZLLLLLLLLLLLLLLLZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ();
</code></pre>

<p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>

<h2>Pre + Code [Javascript]</h2>

<p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>

<pre><code class="language-js">const workboxSW = new WorkboxSW();
workboxSW.precache([
  {
    url: '/',
    revision: '613e6c7332dd83e848a8b00c403827ed'
  },
  {
    url: '/styles/main.css',
    revision: '59a325f32baad11bd47a8c515ec44ae5'
  }
]);

// Register runtime routes like so.
workboxSW.router.registerRoute(
  '/example/', workboxSW.staleWhileRevalidate());
workboxSW.router.registerRoute(
  /\/images\/(.*\/)?.*\.(png|jpg|jpeg|gif)/,
  workboxSW.strategies.cacheFirst());
workboxSW.router.registerRoute(
  '/styles/:filename', workboxSW.strategies.cacheFirst());

// For the Lolz
workboxSW.Matt.Is.Totes.The.Best.LOOOOOOOOOOOOOOOOOOOOOOOOOOOOOllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll0000000000000000000000000000ZZZZZZZZZZZZZZZLLLLLLLLLLLLLLLZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ();

// Number Example
const helloNumber = 1;
</code></pre>

<p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>

<h2>Pre + Code [HTML]</h2>

<pre><code class="language-html">&lt;html&gt;
&lt;body&gt;
  &lt;p class="example-selector"&gt;
    Hello World.
  &lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>