@import "/styles/variables/dimens.css";
@import "/styles/variables/colors.css";
@import "/styles/variables/fonts.css";

:root {
  --heading-padding: calc(var(--grid) * 4);
}

.header {
  background: var(--header-bg-color);
  position: sticky;
  top: 0;
}

.home__logo {
  display: block;
  padding: var(--heading-padding);
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__logo svg {
  display: block;
  width: var(--header-logo-size);
  height: var(--header-logo-size);
  fill: var(--page-bg-color);
  margin: 0 auto;
}

.header__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: calc(var(--grid) * 2);
}

.header__links a {
  color: var(--page-bg-color);
  text-decoration: none;
  font-family: var(--title-font-family);
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 550px) {
  .header__links {
    justify-content: space-around;
  }
}

@media (min-width: 1090px) {
  .header {
    height: var(--header-logo-size);
  }

  .header__container {
    height: 100%;
    justify-content: center;
  }

  .home__logo {
    position: absolute;
    padding: 0;
    left: calc((((100vw - var(--max-content-width)) / 2) - var(--header-logo-size)) / 2);
  }

  .header__links {
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .header__links a:first-child {
    margin-left: 0;
  }

  .header__links a {
    margin: calc(var(--grid) * 2);
  }
}

@media (min-width: 1250px) {
  .home__logo {
    left: calc(((100vw - var(--max-content-width)) / 2) - var(--header-logo-size));
  }
}