@charset "UTF-8";

@import "../variables/colors";
@import "../variables/dimens";

.appbar {
  position: initial;
  background-color: $contact-page-bg-color;
  color: $contact-page-text-color;
}

.page {
  padding: $base-line-height;
}
