@font-face {
  font-family: 'adam.cg_proregular';
  src: url('/fonts/adam.cg_pro/adam.cg_pro-webfont.eot');
  src: url('/fonts/adam.cg_pro/adam.cg_pro-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/adam.cg_pro/adam.cg_pro-webfont.woff2') format('woff2'),
       url('/fonts/adam.cg_pro/adam.cg_pro-webfont.woff') format('woff'),
       url('/fonts/adam.cg_pro/adam.cg_pro-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
