:root {
  --primary-highlight-color: #2e4392;
  --darker-highlight-color: #273180;
  --lighter-highlight-color: #808080;
  --strong-highlight-color: #ff7bac;

  --page-bg-color: #f1eeed;
  --font-color: #323232;
  --title-font-color: var(--primary-highlight-color);

  --code-background-color: #e3e0df;
  --pre-background-color: #303030;
  --iframe-border-color: var(--strong-highlight-color);

  --button-background-color: var(--primary-highlight-color);
  --button-background-hover-color: var(--darker-highlight-color);
  --button-background-active-color: var(--lighter-highlight-color);
  --button-text-color: var(--page-bg-color);

  --link-text-color: var(--darker-highlight-color);

  --header-bg-color: var(--primary-highlight-color);

  /**
  --dark-bg-color: #2B262E;
  --light-grey-color: #BFBEC0;

  --styleguide-bg-color: #eeeeee;
  --styleguide-btn-color: rgba(100, 100, 100, 0.8);

  --toolbar-btn-hover-color: rgba(0, 0, 0, 0.1);
  --toolbar-btn-active-color: rgba(0, 0, 0, 0.3);
  --header-bg-color: #1e1621;

  --footer-bg-color: var(--dark-bg-color);
  --footer-text-color: var(--light-grey-color);

  --youtube-block-bg-color: #433e47;
  --youtube-block-font-color: rgba(255, 255, 255, 0.7);
  --youtube-block-icon-color: var(--youtube-block-font-color);

  --divider-color: rgba(0, 0, 0, 0.3);
  --divider-color-light: rgba(255, 255, 255, 0.3);

  --twitter-block-bg-color: #1a1420;
  --twitter-block-font-color: #bab8bc;

  --toggle-on-color: var(--light-grey-color);
  --toggle-off-color: #8f8d91;
  --toggle-text-color: var(--page-bg-color);
  **/
}
