:root {
  --code-font-family: "Monaco", "Andale Mono", "AndaleMono", "Droid Sans Mono", "DroidSansMono", "Courier", monospace;
  --base-font-family: "Futura", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Open Sans", sans-serif;
  --title-font-family: "hallosans", "Futura", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Open Sans", sans-serif;
}
