---
styles:
  inline:
    - ../../public/styles/main-inline.css
scripts:
  async:
    - /scripts/controllers/async-iframe-controller.js
    - /scripts/controllers/async-styles-controller.js
    - /scripts/controllers/async-font-controller.js
---
<!doctype html>
<html lang="en">
<head>
	<title>{{data.title}}</title>

	<meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{#data.theme_color}}{{data.theme_color}}{{/data.theme_color}}{{^data.theme_color}}#1e1621{{/data.theme_color}}">

	<link rel="manifest" href="/manifest.json">

  {{#styles.inline}}
    <style>{{{.}}}</style>
  {{/styles.inline}}
</head>
<body>
  {{{content}}}

	<script>
		window.GauntFace = window.GauntFace || {};
		window.GauntFace._asyncStyles = [
      {{#styles.async}}
        '{{{.}}}',
      {{/styles.async}}
    ];
	</script>

  {{#scripts.async}}
    <script src="{{.}}" async defer></script>
  {{/scripts.async}}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-27329140-4', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
