---
styles:
  inline:
    - ../../public/styles/main-inline.css
scripts:
  async:
    - /scripts/controllers/async-iframe-controller.js
    - /scripts/controllers/async-styles-controller.js
    - /scripts/controllers/async-font-controller.js
---
<!doctype html>
<html lang="en">
<head>
	<title>{{data.title}}</title>

	<meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{#data.theme_color}}{{data.theme_color}}{{/data.theme_color}}{{^data.theme_color}}#2e4392{{/data.theme_color}}">

	<link rel="manifest" href="/manifest.json">

  {{#styles.inline}}
    <style>{{{.}}}</style>
  {{/styles.inline}}
</head>
<body>
  {{{content}}}

	<script>
		window.GauntFace = window.GauntFace || {};
		window.GauntFace._asyncStyles = [
      {{#styles.async}}
        '{{{.}}}',
      {{/styles.async}}
    ];
	</script>

  {{#scripts.async}}
    <script src="{{.}}" async defer></script>
  {{/scripts.async}}
</body>
</html>
