@import '../../variables/colors';
@import '../../variables/dimens';
@import '../../variables/font-families';

$toggle-height: ($base-line-height * 1.5);
$toggle-width: ($base-line-height * 3);
$toggle-border-width: 2px;

$toggle-inner-section-width: ($toggle-width / 2) + $toggle-border-width;

.toggle {
  display: inline-block;
  width: $toggle-width;
  height: $toggle-height;

  position: relative;

  line-height: $toggle-height - ($toggle-border-width * 2);

  box-sizing: border-box;

  background: transparent;

  border-style: solid;
  border-width: $toggle-border-width;
  border-color: $toggle-off-color;

  color: $toggle-text-color;

  cursor: pointer;

  font-family: $title-font-family;
  text-transform: uppercase;

  transition : border 600ms;
}

.toggle:before {
  content: 'Off';

  display: inline-block;
  // We want on and off to have the same width
  width: $toggle-inner-section-width;

  position: absolute;
  left: - $toggle-border-width;


  background: $toggle-off-color;
  text-align: center;

  transition : all 600ms;
}

.toggle.is-checked {
  border-color: $toggle-on-color;
}

.toggle.is-checked:before {
  content: 'On';

  background: $toggle-on-color;
  left: ($toggle-width / 2) - (2 * $toggle-border-width);
}

.toggle.is-disabled {
  opacity: 0.6;
  cursor: default;
}
