@import "../mixins/responsive-images";

//@include responsive-image-height-based('{{left-section-img-url}}', '{{left-section-img-extension}}', '.gf-header',
//  (200,       300,        400,        500,        600,        700,        800),
//  ('300x300', '400x300',  '500x300',  '600x300',  '700x300', '800x300',   '900x300'), (1, 2, 3, 4));

.content-split__left-section {
  background-color: '{{left-section-bg-color}}';
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-image: url('{{left-section-img-url}}');
}
