@import "../../variables/colors";
@import "../../variables/dimens";

.block-footer {
  display: flex;

  width: 100%;
  height: 100vh;

  background-color: $footer-bg-color;

  box-sizing: border-box;
  flex-direction: row;

  overflow-y: auto;
}

.block-footer__social-link-item {
  display: flex;

  min-width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;

  svg {
    width: 35%;
    height: 35%;
  }
}

.block-footer__social-link-item--rss, .block-footer__spacer {
  display: none;
}

@media (min-width: $break-xsmall) {
  .block-footer {
    height: auto;
    padding: ($base-line-height * 2) ($base-line-height);
  }

  .block-footer__social-link-item {
    display: inline-block;

    width: 24px;
    height: 24px;

    min-width: auto;
    min-width: initial;

    margin-right: $base-line-height;

    svg {
      width: auto;
      height: auto;
    }
  }

  .block-footer__spacer {
    display: block;
    flex: 1;
  }

  .block-footer__social-link-item--rss {
    display: inline-block;
  }

  .block-footer__social-link-item:last-of-type {
    margin-right: 0;
  }
}

@media (min-width: $break-small) {
  .block-footer {
    padding: ($base-line-height * 3) ($base-line-height * 2);
  }
}
