---
styles:
  inline:
    - ../../public/styles/components/author/author-inline.css
---
<div class="author">
  <h5 class="u-ruled-title">Author</h5>
  <div class="author__row">
    <!-- 64px image size to sit on 8px grid -->
    <img data-src="/images/avatar.jpg" alt="Profile photo" width="64" height="64" class="author__avatar" />
    <div class="author__flex">
      <div class="author__name">Matt Gaunt</div>
      <div class="author__title">Staff Developer Programs Engineer at Google</div>
    </div>
  </div>
</div>
