---
styles:
  inline:
    - ../../public/styles/components/footer/footer-inline.css
partials:
  - ../../public/images/footer/notifications.svg
  - ../../public/images/footer/settings.svg
  - ../../public/images/footer/twitter.svg
  - ../../public/images/footer/github.svg
  - ../../public/images/footer/rss.svg
  - ../../public/images/footer/email.svg
---
<footer class="footer">
  <!--
  <div class="footer__settings-icons">
    <button class="footer__icon">
      {{> ../../public/images/footer/notifications.svg}}
    </button>
    <a class="footer__icon" title="Settings" href="/settings">
      {{> ../../public/images/footer/settings.svg}}
    </a>
  </div>
  -->

  <div class="footer__spacer"></div>

  <div class="footer__contact-icons">
    <a class="footer__icon" title="Twitter Profile" href="https://twitter.com/gauntface">
      {{> ../../public/images/footer/twitter.svg}}
    </a>
    <a class="footer__icon" title="Github Profile" href="https://github.com/gauntface">
      {{> ../../public/images/footer/github.svg}}
    </a>
    <!--
    <a class="footer__icon" title="RSS" href="/rss.xml">
      {{> ../../public/images/footer/rss.svg}}
    </a>
    -->
    <a class="footer__icon" title="Email Matt Gaunt" href="mailto:matt@gauntface.co.uk">
      {{> ../../public/images/footer/email.svg}}
    </a>
  </div>
</footer>
