---
styles:
  inline:
    - ../../public/styles/components/footer/footer-inline.css
---
<footer class="footer">
  <p class="footer__license">Except as otherwise noted, the content of this page is licensed under the
  Creative Commons Attribution 3.0 License, and code samples are licensed
  under the Apache 2.0 License.</p>

  <p><a class="footer__link" title="Twitter Profile" href="https://twitter.com/gauntface">Twitter</a> |
    <a class="footer__link" title="Github Profile" href="https://github.com/gauntface">Github</a> |
    <a class="footer__link" title="Email Matt Gaunt" href="mailto:matt@gauntface.co.uk">Email</a>
  </p>
</footer>
