---
partials:
- views/toggle.tmpl
styles:
- /public/styles/components/footer/footer-inline.css
- /styles/components/footer/footer-async.css
---
<footer class="footer u-content">
  <div class="footer-container">
    <a class="footer__link footer__twitter" title="Twitter Profile" href="https://twitter.com/gauntface">
    </a>
    <a class="footer__link footer__github" title="Github Profile" href="https://github.com/gauntface">
    </a>
    <a class="footer__link footer__email" title="Email Matt Gaunt" href="mailto:site@gauntface.co.uk">
    </a>
    <div class="footer__spacer"></div>
    <a class="footer__link footer__settings" title="Settings" href="/settings">
    </a>
  </div>
</footer>
