---
styles:
- /public/styles/components/grid-overlay/grid-overlay-inline.css
scripts:
- /scripts/components/grid-overlay/grid-overlay-controller.js
---
<div class="grid-overlay js-grid-overlay"></div>