---
styles:
- /public/styles/components/header/header-inline.css
---
<header class="header">
  <a href="/" title="Home" class="home__logo">{{> public/images/logo.svg}}</a>
  <div class="u-content header__container">
    <nav class="header__links">
      <a href="/about">About</a>
      <a href="/blog">Blog</a>
      <a href="/videos">Videos</a>
    </nav>
  </div>
</header>
