---
styles:
  inline:
    - ../../public/styles/components/header/header-inline.css
partials:
  - ../../public/images/logo.svg
---
<header class="header">
  <div class="header__container">
    <a href="/" title="Home" class="home__logo">{{> ../../public/images/logo.svg}}</a>
    <nav class="header__links">
      <a href="/about">About</a>
      <a href="/blog">Blog</a>
    </nav>
  </div>
</header>
