@import "../_breakpoints";
@import "../_colors";

$underline-extension-total: 4px !default;

.appbar {
  display: flex;

  width: 100%;
  height: 100vh;

  background-color: $header-bg-color;

  overflow-y: auto;

  font-family: $title-font-family;
}

.appbar__link, .appbar__menu {
  display: flex;
  position: relative;

  min-width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;

  font-size: $base-line-height * 1.2;
  color: $app-bar-color;

  opacity: 0.4;

  will-change: opacity;
}

.appbar__menu {
  opacity: 1;
}

.appbar__link:hover, .appbar__menu:hover {
  opacity: 0.6;
}

.appbar__link:active, .appbar__menu:active {
  opacity: 0.8
}

.appbar__link.is-selected {
  opacity: 1;
}

.appbar__link.is-selected::after {
  content: '';

  display: block;
  position: absolute;

  width: 50%;
  height: 3px;

  margin: 10px 0 0 0;

  background-color: $app-bar-color;
}

@media (min-width: $break-xsmall) {
  $underline-extension-total: 4px;

  .appbar {
    display: flex;
    position: absolute;

    top: 0;
    left: 0;

    height: auto;

    background-color: transparent;

    justify-content: space-between;

    padding: 0 $base-line-height;
    box-sizing: border-box;
  }

  .appbar__menu {
    display: none;
  }

  .appbar__link {
    display: inline-block;
    position: relative;

    min-width: initial;

    padding: $base-line-height 0;

    text-align: center;
    font-size: $base-font-size;
    line-height: $base-line-height;
  }

  .appbar__link.is-selected::after {
    content: '';

    display: block;
    position: absolute;

    width: 100%;
    height: 3px;

    margin: 10px 0 0 (-($underline-extension-total / 2));
    padding: 0 ($underline-extension-total / 2);
  }
}

@media (min-width: $break-small) {
  .appbar {
    justify-content: flex-start;

    padding: 0 (2 * $base-line-height);
  }

  .appbar__link {
    margin-right: $base-line-height;
  }

  .appbar__link:last-of-type {
    margin-right: 0;
  }
}
