@import "../../variables/colors";
@import "../../variables/dimens";

.twitter-block {
  width: 100%;

  padding: $base-line-height ($base-line-height * 0.5);
  box-sizing: border-box;

  background-color: $twitter-block-bg-color;
  color: $twitter-block-font-color;
}

.twitter-block__twitter-logo {
  display: block;

  width: 24px;
  height: 24px;

  margin: 0 auto ($base-line-height * 0.5) auto;

  fill: $twitter-block-font-color
}

.twitter-block__tweet-info {
  text-align: center;

  margin-bottom: ($base-line-height * 0.5);

  a, time {
    display: block;

    text-decoration: none;
  }
}

.twitter-block__info-spacer {
  display: none;
}

.twitter-block__tweet {
  text-align: center;
}

@mixin twitter-block-xsmall () {
  .twitter-block {
    padding: ($base-line-height * 2) $base-line-height;
  }

  .twitter-block__twitter-logo {
    margin-bottom: $base-line-height;
  }

  .twitter-block__tweet-info {
    margin-bottom: $base-line-height;

    a, time {
      display: inline-block;
    }
  }

  .twitter-block__info-spacer {
    display: initial;
  }
}

@mixin twitter-block-small () {
  .twitter-block {
    padding: ($base-line-height * 2.5) ($base-line-height * 4.5);
  }

  .twitter-block__twitter-logo {
    margin-bottom: $base-line-height;
  }

  .twitter-block__tweet-info {
    margin-bottom: $base-line-height;
  }

  .twitter-block__tweet {
    max-width: $base-line-height * 20;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: ($base-line-height * 5);
  }
}

@media (min-width: $break-xsmall) {
  @include twitter-block-xsmall();
}

@media (min-width: $break-small) {
  @include twitter-block-small();
}
