@import "../../variables/colors";
@import "../../variables/dimens";

.youtube-block {
  width: 100%;

  padding: $base-line-height ($base-line-height * 0.5);
  box-sizing: border-box;

  background-color: $youtube-block-bg-color;
  color: $youtube-block-font-color;
  text-align: center;

  background-image: url(/images/components/youtube-block/matt-addy-ttt.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.youtube-play-icon {
  width: $base-line-height * 2;
  height: $base-line-height * 2;

  margin: 0 auto ($base-line-height * 0.5) auto;

  fill: $youtube-play-icon-color;

  svg {
    width: $base-line-height * 2;
    height: $base-line-height * 2;
  }
}

.youtube-block__series-title {
  color: $youtube-block-font-color;
}

.youtube-block__episode-title {
  color: $youtube-block-font-color;
}

@mixin youtube-block-xsmall () {
  .youtube-block {
    padding: ($base-line-height * 2) $base-line-height;
  }

  .youtube-play-icon {
    margin-bottom: $base-line-height;
  }

  .youtube-block__series-title {
    font-size: $base-line-height * 1.5;
  }
}

@mixin youtube-block-small () {
  .youtube-block {
    padding: ($base-line-height * 2.5) ($base-line-height * 4.5);
  }

  .youtube-play-icon {
    margin-bottom: $base-line-height * 2;
  }

  .youtube-block__series-title {
    margin-bottom: $base-line-height * 2;

    font-size: $base-line-height * 2;
  }
}

@media (min-width: $break-xsmall) {
  @include youtube-block-xsmall();
}

@media (min-width: $break-small) {
  @include youtube-block-small();
}
