body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-in__btn-panel {
  display: inline-block;
  text-align: center;
}

.sign-in__loading-panel {
  text-align: center;
}

.is-hidden {
  display: none;
}
