---
styles:
  inline:
    - ../../../public/styles/unique/blog-index.css
---
<p><a href="/admin/edit/">New Blog Post</a></p>

{{#data.draftPosts.length}}
<ol class="blog__section">
  {{#data.draftPosts}}
  <li>
    <a href="/admin/edit/{{id}}" class="blog__index-link">
    <div class="blog-li__wrapper">
      <h2>{{title}}</h2>
      {{{excerptHTML}}}
    </div>
    </a>
  </li>
  {{/data.draftPosts}}
</ol>
{{/data.draftPosts.length}}
