@import "/styles/variables/dimens.css";

html {
  width: 100%;
  height: 100%;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  min-height: 100%;

  font-size: calc(var(--primary-font-size) * 1px);
}

button {
  outline: none;
}
