.youtube-block {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-image: url('/images/youtube-block/youtube-still_530x298.jpg');
}

@media (min-width: 600px) {
  .youtube-block {
    background-image: url('/images/youtube-block/youtube-still_890x502.jpg');
  }
}

@media (min-width: 1290px) {
  .youtube-block {
    background-image: url('/images/youtube-block/youtube-still_1070x602.jpg');
  }
}

@media (min-width: 1935px) {
  .youtube-block {
    background-image: url('/images/youtube-block/youtube-still_1870x1013.jpg');
  }
}
