@import "../../variables/colors";
@import "../../variables/dimens";

.subtle-footer {
  display: flex;

  width: 100%;
  height: 100vh;

  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.subtle-footer__content-container {
  display: flex;

  flex-direction: row;

  box-sizing: border-box;
}

.subtle-footer__social-link-item {
  display: flex;

  min-width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;

  // Only used if SVG's are inline
  //svg {
  //  width: 35%;
  //  height: 35%;
  //
  //  fill: $subtle-footer-icon-color;
  //}
}

.subtle-footer__social-link-item--rss, .subtle-footer__spacer {
  display: none;
}

@media (min-width: $break-xsmall) {
  .subtle-footer {
    height: auto;
    padding: ($base-line-height) 0;
  }

  .subtle-footer__social-link-item {
    display: inline-block;

    width: 24px;
    height: 24px;

    min-width: initial;

    margin-right: $base-line-height;

    // Only used if SVG's are inline
    //svg {
    //  width: auto;
    //  height: auto;
    //}
  }

  .subtle-footer__spacer {
    display: none;
  }

  .subtle-footer__social-link-item--rss {
    display: inline-block;
  }

  .subtle-footer__social-link-item:last-of-type {
    margin-right: 0;
  }
}

@media (min-width: $break-small) {
  .subtle-footer {
    padding: ($base-line-height * 2) 0;
  }
}
