.gf-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image: url('/images/home-header/header_645x224.jpg');
}

@media (min-width: 645px) {
  .gf-header {
    background-image: url('/images/home-header/header_1290x448.jpg');
  }
}

@media (min-width: 1290px) {
  .gf-header {
    background-image: url('/images/home-header/header_1935x672.jpg');
  }
}

@media (min-width: 1935px) {
  .gf-header {
    background-image: url('/images/home-header/header_2395x832.jpg');
  }
}

@media (min-width: 2395px) {
  .gf-header {
    background-image: url('/images/home-header/header_3593x1248.jpg');
  }
}
