// Base Colors
$highlight-color: #000000 !default;
$secondary-bg-color: #bbbbbb !default;

$title-color-faded: rgba($highlight-color, 0.6) !default;
$page-bg-color: #EDEDEB;

$input-bg-color: $secondary-bg-color !default;
$input-focus-bg-color: lighten($secondary-bg-color, 8%) !default;

$input-place-holder-color: $highlight-color !default;

$svg-btn-fill-color: $highlight-color !default;

$button-bg: rgba($secondary-bg-color, 0.2) !default;

$btn-bg-hover: rgba($secondary-bg-color, 0.3) !default;
$btn-bg-focus: rgba($secondary-bg-color, 0.3) !default;
$btn-bg-active: rgba($secondary-bg-color, 0.5) !default;

$link-text-color: inherit; //$highlight-color !default;

$iframe-border-color: $highlight-color !default;
$iframe-bg-color: #fefefe !default;

// Typography
$title-color: 			#333333 !default;
$font-color: 			#333333 !default;
$light-text-color: #FFFFFF !default;
$blockquote-mark-color: #bbbbbb !default;
$btn-text-color: 		#333333 !default;
$copyright-font-color: 	rgba(50, 50, 50, 0.4) !default;

$dark-grey-color: #2B262E !default;
$light-grey-color: #BFBEC0 !default;

$loading-color: $title-color;

$toggle-on-color: $light-grey-color;
$toggle-off-color: #8f8d91;
$toggle-text-color: $page-bg-color;

$contact-page-bg-color: #1A1420;
$contact-page-text-color: #BAB8BC;

$app-bar-color: #ffffff !default;
$sub-app-bar-color: $font-color !default;

$header-bg-color: #1E1621 !default;

$twitter-block-bg-color: #1A1420 !default;
$twitter-block-font-color: #BAB8BC !default;

$youtube-play-icon-color: rgba(white, 0.7) !default;
$youtube-block-bg-color: #433E47 !default;
$youtube-block-font-color: rgba(white, 0.7) !default;

$subtle-footer-icon-color: #464646 !default;

$full-overlay-color: rgba(0, 0, 0, 0.75) !default;

// Geshi Code
$code-bg-color: #DFDFDD !default;
$code-text-color: rgb(115, 115, 115) !default;

$commentColor: #999988 !default;
$methodColor: #4285f4 !default;
$colorLearning: rgb(255, 0, 0) !default;
$keywordType: #445588 !default;
$keywordOneColor: #7b5294 !default;
$variableColor: #da2e75 !default;
$numberColor: #009999 !default;
$stringColor: #297ea9 !default;

// Footer
$footer-bg-color: $dark-grey-color !default;
$footer-text-color: $light-grey-color !default;

// Dividers
$divider-color: black !default;
$divider-color-light: white !default;

// About
$about-matt-bg-color: #606363;
