//Typography
$base-font-size:        14px !default;
$base-line-height:      24px !default;

$font-size-h1:          24px !default;
$font-size-h2:          22px !default;
$font-size-h3:          20px !default;
$font-size-h4:          18px !default;
$font-size-h5:          16px !default;
$font-size-h6:          14px !default;
$font-size-code:		    12px !default;
$small-font-size:		    12px !default;
$tiny-font-size:		    10px !default;
$medium-font-size:      36px !default;
$large-font-size:       48px !default;

$top-img-xsmall-height: $base-line-height * 12 !default;
$top-img-small-height: $base-line-height * 20 !default;

// Generic Page Padding
$page-h-padding: 2 * $base-line-height;

// Breakpoints
$break-xsmall: 300px;
$break-small: 450px;
$break-medium: 950px;


// Appbar
$underline-extension-total: 4px !default;


// Divider
$divider-thickness: 2px !default;


// Content Split
$contentLeftSectionProportion: 42;
$contentRightSectionProportion: 100 - 42;


// Buttons
$btn-height: $base-line-height * 2;
$btn-padding: ($base-line-height / 2);
$btn-internal-size: $btn-height - ($btn-padding * 2);
