.grid-overlay {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: var(--grid-overlay-z-index);
  pointer-events: none;
}

.is-enabled.dark {
  background-image: url(/images/styleguide/dark-grid-16.png);
}

.is-enabled.light {
  background-image: url(/images/styleguide/light-grid-16.png);
}