.split-section {
  display: flex;

  flex-direction: column;
}

.split-section > * {
  width: 100%;
}

@media (min-width: 800px) {
  .split-section {
    flex-direction: row;
  }

  .split-section > * {
    width: 0;
    flex: 1;
  }
}
