@charset 'UTF-8';

@import '../../../variables/dimens';

@import '../../../partials/debug';
@import '../../../partials/dividers';
@import '../../../partials/components/home-header';
@import '../../../partials/components/appbar';
@import '../../../partials/components/block-footer';
@import '../../../partials/components/title-block-item';
@import '../../../partials/components/twitter-block';
@import '../../../partials/components/youtube-block';

body {
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;
}



@media (min-width: $break-xsmall) {

}

@media (min-width: $break-small) {
  .twitter-block, .youtube-block {
    width: 50%;
  }

  @include youtube-block-xsmall();
  @include twitter-block-xsmall();
}

@media (min-width: $break-medium) {
  @include youtube-block-small();
  @include twitter-block-small();
}
