@import "../../variables/colors";
@import "../../variables/dimens";

.youtube-block {
  width: 100%;

  padding: $base-line-height ($base-line-height * 0.5);
  box-sizing: border-box;

  background-color: $youtube-block-bg-color;
  color: $youtube-block-font-color;
  text-align: center;

  & a {
    text-decoration: none;
  }
}

.youtube-play-icon {
  width: $base-line-height * 2;
  height: $base-line-height * 2;

  margin: 0 auto ($base-line-height * 0.5) auto;

  fill: $youtube-play-icon-color;

  svg {
    width: $base-line-height * 2;
    height: $base-line-height * 2;
  }
}

.youtube-block__series-title, .youtube-block__episode-title {
  color: $youtube-block-font-color;
}
