@import "../../variables/colors";
@import "../../variables/dimens";
@import "../../mixins/functions";
@import "../../mixins/responsive-images";

.youtube-block {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@include responsive-image-width-based('/imageproducer/static/youtube-block/matt-addy-ttt', 'png', '.youtube-block',
  (200,       300,        400,        500,        600,        700,        800),
  ('300x0', '400x0',  '500x0',  '600x0',  '700x0', '800x0',   '900x0'), (1, 2, 3, 4));
