.blogcreate__tabs {
  display: flex;

  width: 100%;

  flex-shrink: 0;

  border-bottom-style: solid;
  border-bottom-width: 1px;

  margin-bottom: -1px;
}

.blogcreate__tab-btn.tab-view__is-selected {
  background-color: $dark-grey-color;
  color: $page-bg-color;
}

.blogcreate__tabs-contents {
  display: flex;

  flex: 1;

  overflow-y: auto;
}

.blogcreate__tab_content {
  display: none;

  width: 100%;
}

.blogcreate__tab_content.tab-view__is-selected {
  display: block;
}

.blogcreate__tabs-contents--markdown.tab-view__is-selected {
  display: flex;

  flex-direction: column;
}
