@import "/styles/variables/colors.css";
@import "/styles/variables/dimens.css";

.footer {
  width: 100%;

  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);

  box-sizing: border-box;
  padding: calc(var(--grid) * 9) calc(var(--grid) * 6);

  overflow-y: auto;

  .toggle {
    &:before {
      color: var(--footer-bg-color);
    }
  }

  transition: opacity .5s ease-in-out;
}

.footer__container {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.footer_social-links {
  margin: 0 auto;
}

.footer__push-section {
  display: flex;

  flex-direction: column;
  align-items: center;

  /** margin-top: $base-line-height; **/
}

.footer__push-description {
  /** margin-bottom: $base-line-height / 2; **/
}

.footer__social-link-item {
  display: inline-block;

  width: calc(var(--grid) * 3);
  height: calc(var(--grid) * 3);

  margin-right: var(--grid);
}

.footer__spacer {
  display: block;
  flex: 1;
}

/**
@media (min-width: $break-xsmall) {
  .footer {
  }


  .footer__social-link-item:last-of-type {
    margin-right: 0;
  }
}

@media (min-width: 550px) {
  .footer {
    padding: ($base-line-height * 3) ($base-line-height * 2);
  }

  .footer__container {
    flex-direction: row;
    flex-wrap: no-wrap;
  }

  .footer__push-section {
    flex-direction: row;

    margin-top: 0;
  }

  .footer__push-description {
    margin-bottom: 0;
    margin-right: $base-line-height;
  }

  .footer_social-links {
    display: flex;
    flex-direction: row;
    margin: 0;
  }
}
**/
