@import '../../variables/colors';

body {
  display: block;
}

.blog-index__list-container {
  display: flex;

  flex-direction: column;
  flex: 1;
}

.blog-index__list-container a:first-of-type .title-block-item.is-padded {
  background-color: $secondary-bg-color;
  padding-top: ($base-line-height * 4);
}
